.site-footer {
    background: linear-gradient(90deg, #CCC7B9 0%, #808276 50%, #CCC7B9 100%);
    color: white;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.site-footer .custom-width {
    max-width: 1100px;
    margin: 0 auto;
}

.site-footer h6 {
    font-weight: 600;
    margin-bottom: 8px;
    position: relative;
    display: inline-block;
    font-size: 1.1em;
}

.site-footer ul {
    padding-left: 0;
    list-style: none;
}

.site-footer a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: color 0.3s;
    font-size: 1.1em;
}

.site-footer a:hover {
    color: #252323;
}

.col-md-4.mb-1.text-center {
    margin-top: 0;
}

.col-md-4.mb-1.logo-section {
    margin-top: 10px;
}

.contact-info {
    width: 310px;
    height: 160px;/
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    transition: background-color 0.3s;
    margin: auto;
}

.contact-info:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.contact-info a, .contact-info span {
    display: block;
    margin-bottom: 5px;
    font-size: 1.1em;
}

.social-icon img {
    width: 25px;
    transition: transform 0.3s, filter 0.3s;
}

.social-icon img:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

.text-uppercase {
    text-transform: uppercase;
}

.information-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 3px;
}

.information-header,
.contact-header,
.contact-info {
    margin-top:15px;
}

.contact-header {
    font-family: Quicksand, sans-serif;
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 3px;
}

.contact-info, .contact-header {
    text-align: center;
    margin-bottom: 10px;
}

.logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}
.spacer {
    height: 80px;
}
