.container {
    max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: #808276;
}
.site-header a {
    color: #fffef9;
    transition: ease-in-out color .15s;
    text-decoration: none;
}
.site-header a:hover {
    color: #252323;
    text-decoration: none;
    transition: .5s ease;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #808276;
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: #ef4444;
    border-radius: 5px;
}

.product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e7;
}


/*
 * Extra utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
}
@media (min-width: 768px) {
    .flex-md-equal > * {
        -ms-flex: 1;
        -webkit-box-flex: 1;
        flex: 1;
    }
}

.overflow-hidden { overflow: hidden; }

.background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.text-background {
    font-size: 50px;
    display: inline-block;
    font-family: 'Quicksand', sans-serif;
    border-radius: 10px;
    padding-bottom: 20px;
}

.room-header{
    font-size: 45px;
    font-family: 'Quicksand', sans-serif;
    color: #808276
}
.room-intro{
    font-family: 'Open Sans';
}
.service-item {
    width: 30%;
    text-align: center;
}

form button.send-button {
    background-color: #808276;
    color: white;
}

form button.send-button:hover {
    background-color: #dbe0c9;
}

.custom-img {
    max-width: 50%;
    height: auto;
}

.get-more-button:hover{
    color: #dbe0c9;

}

/* Stylizacja kontenera galerii */
  .custom-img {
      transition: transform 0.3s, box-shadow 0.3s;
  }

.custom-img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.container-gallery {
    margin-top: 30px;
}

.position-relative {
    padding-top: 3rem;
}


.display-8 {
    font-size: 2.5rem;
    line-height: 1.2;
}


/*ABOUT*/
.about{
    background-color: #808276;
    color: #fffef9;
}
.about-text{
    font-size: 28px;
    font-family: 'Quicksand', sans-serif;
}
.studio-name-exposition{
    color: #808276;
}
.portrait {
    width: 70%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 3/4;
    display: block;
}

.portrait-container {
    position: relative;
    overflow: hidden;
    text-align: center;
}

.portrait-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 71%;
    height: 100%;
    background: #CCC7B9;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.portrait-container:hover .portrait-overlay{
    opacity: 0.6;
    transition: .5s ease;
}
.photo-container{
    margin-left: 120px;
}
.services{
    margin-top: 100px;
    background-color: #808276;
    color: #fffef9;
}

.room-container {
    position: relative;
    width: 100%;
    padding-top: 65%; /* Stosunek wysokości do szerokości 4:3 */
    overflow: hidden;
}

.room-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.room-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #CCC7B9 /* Semi-transparent background */
}

.room-container:hover .room-overlay {
    opacity: 0.9;
    transition: .5s ease;
}

.room-text {
    color: BLACK;
    font-size: 23px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "Quicksand";
}
.reservation-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
}
/**/

h1.display-8 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 30px;
}

.text-background {
    background: linear-gradient(to right, #808276, #CCC7B9); /* Gradientowy tekst */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.form-group label {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 2px solid #ced4da;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s;
}

.form-group input:focus {
    border-color: #ff6f61;
    outline: none;
}

.btn.send-button {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.img-fluid-contact {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    width: 70%;
}
.services-text-background{
    background: linear-gradient(to right, #dbe0c9, #fffef9); /* Gradientowy tekst */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.person-intro{
    font-family: "Dancing script";
}
/*CALENDAR*/
.container-cal {
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;

}

.header-cal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.today-button,
.next-week-button {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.date-range {
    font-weight: bold;
}

.week-days {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.day {
    text-align: center;
    background: none;
    border: none;
}

.selected {
    background-color: #808276;
    color: white;
    border-radius: 10%;
    padding: 5px;
}

.day-number {
    display: block;
    margin-top: 5px;
    font-weight: bold;
}

.time-slots {
    padding: 10px;
}

.time-slot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.time {
    font-size: 16px;
}

.reserve-button {
    background-color: #CCC7B9;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.reserve-button:hover {
    background-color: #808276;
    transition: .5s ease;
}
.reserve-button-form{
    background-color: #CCC7B9;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}
.reserve-button-form:hover {
    background-color: #808276;
    transition: .5s ease;
}
.box-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.icon-text {
    display: flex;
    margin-bottom: 0.5rem; /* Adjusts the space between the icon and the text */

}
.icon-text svg {
    margin-right: 0.5rem; /* Adjusts the space between the icon and the text */
    width: 24px; /* Set a fixed width for the icons */
    height: 24px; /* Set a fixed height for the icons */
}
.container-rp{
    border: 1px solid #ddd;
    border-radius: 8px;
}

.reservation-form-header {
    font-family: 'Quicksand', sans-serif;
    font-size: smaller;
    margin: 0;
    white-space: nowrap;
}
.icon {
    width: 24px;
    height: 24px;
}
